.location-selection {
  display: table;
  width: 100%;
  table-layout: fixed;

  .column {
    display: table-cell;
    border: 1px solid black;
    cursor: pointer;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      margin-bottom: 5px;
    }
  }
}
